
<% if user_signed_in? %>

<div class="alert alert-info" role="alert"><strong>Welcome!</strong> Feel free to proceed to the <%= link_to 'admin page', admin_path %> </div>

<% else %>

<div class="alert alert-info" role="alert"><strong>Welcome!</strong>If you're and admin on the account, please sign-in to the <%= link_to 'admin page', admin_path %> </div>
<% end %>





<div class="tilegrid">

	<% @homeposts.each do |post| %>
		<div class="tile">
		<h3 ><%= link_to post.title, post_path(post), :class => "truncate" %></h3>
			<% post.images.limit(1).each do |image| %>
				<%= image_tag image.photo.url(:medium), :class => "clear" %>
			<% end %>
		</div>
	<% end %>

</div>
