<%= link_to 'Show', @post %> |
<%= link_to 'Back', exhibit_posts_path(@exhibit) %> | 
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>

<h1>Editing Posts</h1>

<%= render 'form' %>



