@import "bootstrap-sprockets"
@import "bootstrap"
@import "fonts"
@import "bootstrap-switch.min"

.container-fluid
	max-width: 95%
	margin: 0 auto

.right
	float: right


.tilegrid
	div:first-child
		margin-left: 0%

	div:nth-child(4n+5)
		margin-left: 0%

	div:nth-child(4n+4)
		margin-right: 0%

.tile
	width: 23.5%
	margin: 0% 1% 0% 1%
	height: 100%
	display: block
	float: left

	a
		display: inline-block
	img
		max-width: 100%


.left
	float: left

.header
	padding-top: 3%

.small-header
	padding-top: 1.5%

.trailer
	padding-bottom: 3%

.truncate
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis
	max-width: 100%

.margin-r
	margin-right: 1%

.margin-l
	margin-left: 1%

.margin-clear
	margin: 0


hr
	border-color: white
	border-